@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    K31 Valk Street<br />
    Cullinan<br />
    <abbr title="Phone">P:</abbr>
    072 546 2359
</address>

<address>
    <strong>Andre Barnard:</strong>   <a href="mailto:andrebarn@gmail.com">andrebarn@gmail.com</a>
</address>