
@{
    ViewBag.Title = "Index";
}

<h2>SOLID principles</h2>

<p>Refactor code using SOLID principles. </p>

<p>Please view that SOLIDBox project it is a dll that utilize the SOLID principles to refactor the code, script to create table is located in the SQL Scripts</p>

<h4>Class in projects</h4>
<ul>
    <li>Box.cs</li>
    <li>Circle.cs</li>
    <li>Enums.cs</li>
    <li>Interface.cs</li>
    <li>Rectangle.cs</li>
    <li>Square.cs</li>
</ul>
